{% extends "base.html" %}
{% block content %}
<!-- grow -->
	<div class="grow">
		<div class="container">
			<h2>Iniciar Sesión</h2>
		</div>
	</div>
	<!-- grow -->
<!--content-->
<div class="container">
		<div class="account">
		<div class="account-pass">
		<div class="col-md-12 account-top">
			<form action="#" method="post">

			<div>
				<span>Email</span>
				<input type="text">
			</div>
			<div>
				<span >Contraseña</span>
				<input type="password">
			</div>
			<div style="text-align: center;">
				<input type="submit" value="Iniciar Sesión">
				<br><br>
				¿No tienes una cuenta?
				<br>
				<input type="submit" value="Regístrate">
				</div>
			</form>
		</div>
	<div class="clearfix"> </div>
	</div>
	</div>

</div>

<!--//content-->
{% endblock %}
