{% extends "base.html" %}
{% block content %}

{% if form.erros %}
<p>
	Tu usuario o contraseña no son válidos. Por favor vuelve a intentar.
</p>
{% endif %}
<!-- grow -->
	<div class="grow">
		<div class="container">
			<h2>Iniciar Sesión</h2>
		</div>
	</div>
	<!-- grow -->
<!--content-->
<div class="container">
		<div class="account">
		<div class="account-pass">
		<div class="col-md-12 account-top">
			<form action="{% url 'login' %}" method="post">
				{% csrf_token %}
			<div>
				<span>{{ form.username.label_tag }}</span>
				{{ form.username }}
			</div>
			<div>
				<span >{{ form.password.label_tag }}</span>
				{{ form.password }}
			</div>
			<div style="text-align: center;">
				<input type="submit" value="Iniciar Sesión">
				<br><br>
				¿No tienes una cuenta?<br />
				<br>
				<a href="None">
					Si no tienes cuenta regístrate<br />
				</a><br />
				<a href="None">
					¿Olvidaste tu contraseña?
				</a>
				</div>
			</form>
		</div>
	<div class="clearfix"> </div>
	</div>
	</div>

</div>

{% endblock %}
