{% extends "base.html" %}
{% block content %}
<!-- products -->
	<!-- grow -->
	<div class="grow">
		<div class="container">
			<h2>Perfil del usuario</h2>
		</div>
	</div>
	<!-- grow -->
	<div class="pro-du">
		<div class="container">
		<div class="col-md-12">
		<table>
		<tr>
		<th>Nombre completo:</th>
		</tr>
		<tr>
		<th>Teléfono:</th>
		</tr>
		<tr>
		<th>Dirección:</th>
		</tr>
		<tr>
		<th>Filtros:</th>
		</tr>
		</table>

		<br>
		<br>
		<table>
		<caption>Comentarios Recientes</caption>
		<tr>
		<th>
		Comentario....
		</th>
		</tr>
		</table>
		<form action="#" type="POST">
		<input type="submit" class="boton" value="Ver todos">
		</form>

		</div>

		</div>
	</div>
{% endblock %}