{% extends "base.html" %}
{% block content %}
<!-- products -->
	<!-- grow -->
	<div class="grow">
		<div class="container">
			<h2>Servicios de ayuda</h2>
		</div>
	</div>

	<div class="container">
	<div class="row">
	<div class="col-md-12">
	<form action="#" method="POST">
	<input type="submit" class = "button" value="Ayuda">
	<input type="submit" class ="button" value="Prestado">
	<input type="submit" class ="button" value="Perdidos">
	</form>
	</div>
	</div>
	</div>

	<div class="container">

	<div class="row">
	<div class="col-md-12">
	<table>
	<tr>
		<th>Ejemplo 1</th>
	</tr>
	<tr>
		<th>A carnal</th>
	</tr>
	</table>
	<form acction ="#" method="POST">
	<input type="submit"  class="boton" value="Encontrar Ayuda">
	<input type="submit" class="boton" value="Solicitar Ayuda">
	</form>
	</div>

	</div>
{% endblock %}
